@model IEnumerable<Client.Models.University>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.guid })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Deletes", new { id = item.guid })">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
